.btn {
    border: none;
    background-color: transparent;

    &--rounded {
        height: 50px;
        border-radius: 25px;
    }

    &--gradient {
        background: linear-gradient($purple, $light-purple);
    }
}