$light-green: #99E2D0;
$green: #008766;
$light-blue: #89C8FA;
$blue: #003A68;
$light-purple: #FF79DA;
$purple: #9356DC;
$light-grey: #F6F6F6;
$grey: #EAEAEA;
$dark-grey: #353535;

@mixin gradient-purple {
    background: linear-gradient(0deg, rgba(147, 86, 220, 1), rgba(255, 121, 218, 1));
}

@mixin gradient-purple-light {
    background: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}