* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: $light-grey;
}

a {
    text-decoration: none;

    &:active {
        color: $purple;
    }
}

img {
    object-fit: cover;
}

.section {
    &__title {
        font-size: 24px;
        font-weight: 700;
    }

    &__txt {
        font-size: 18px;
        font-weight: 300;
    }
}