.new {
    background-color: $light-green;
    color: $green;
    font-size: 14px;
    display: flex;
    width: 80px;
    height: 29px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}