.new {
    background-color: $light-green;
    color: $green;
    font-size: 14px;
    display: flex;
    width: 80px;
    height: 29px;
    align-items: center;
    justify-content: center;
}