.fonctionnement {
    background-color: white;
    padding: 48px 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .card {
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &__content {
                display: flex;
                align-items: center;

                &__number {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 24px;
                    height: 24px;
                    border-radius: 100%;
                    background-color: $purple;
                    position: absolute;
                    left: -12px;
                    font-size: 14px;
                    font-weight: 500;
                    color: white;
                }

                &__title {
                    font-size: 16px;
                    font-weight: 500;
                }

                &__icon {
                    font-size: 18px;
                    color: #7E7E7E;
                    position: absolute;
                    left: 35px;

                    &--purple {
                        color: $purple;
                    }
                }
            }
        }
    }
}